#block-feedback-form{display:none !important;}body{font-family:serif;line-height:normal;}a[href^="/"]:after{content:" (https://ssd.eff.org" attr(href) ")";}a.logo:after{content:"";}h1.page-header{margin:0;}.module-section,.module-section h2{margin:0;padding:0;}.module-section h2{position:relative;top:-10px;font-size:22px;margin-top:10px;}.header-graphic img{width:60px;height:60px;display:none;}footer.footer{display:none;}#top-logo img{width:280px;height:auto;}.field-name-body img,.field-name-body p img{max-width:180px !important;max-height:300px !important;}

/*
     FILE ARCHIVED ON 14:17:48 Nov 15, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:00:08 Jul 23, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 278.568 (3)
  esindex: 0.012
  captures_list: 305.081
  CDXLines.iter: 13.318 (3)
  PetaboxLoader3.datanode: 48.386 (5)
  exclusion.robots: 0.289
  exclusion.robots.policy: 0.276
  RedisCDXSource: 1.545
  PetaboxLoader3.resolve: 1045.84 (3)
  load_resource: 862.611
*/